{% macro render(pagenav) -%}

{% if pagenav.total > 0 %}
<ul class="pagination">
    <li class="page-item {% if not pagenav.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ url_for(pagenav.module_name, page=pagenav.prev_num) }}">&laquo;</a></li>
  {%- for page in pagenav.iter_pages() -%}
  {% if page %}
    {% if page != pagenav.page -%}
    <li class="page-item"><a class="page-link" href="{{ url_for(pagenav.module_name, page=page) }}">{{ page }}</a></li>
    {%- else -%}
        <li class="page-item active"><a class="page-link" href="javascript:;">{{ page }}</a></li>
    {%- endif %}
  {% else -%}
      <li class="page-item disabled"><a class="page-link" href="javascript:;">&hellip;</a></li>
  {%- endif %}
  {%- endfor -%}
  <li class="page-item {% if not pagenav.has_next %}disabled{% endif %}"><a class="page-link" href="{{ url_for(pagenav.module_name, page=pagenav.next_num) }}">&raquo;</a></li>
</ul>
{% endif %}

{%- endmacro %}