{% extends '_base.html' %}
{% import '_form.html' as f %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Book Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" enctype="application/x-www-form-urlencoded">
                {{ f.render(form) }}
                <div class="form-group float-right">
                    <button type="button" class="btn btn-default" onclick="history.back(-1)">Go back</button>
                    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}